.mainContainer {
  height: 100vh;
  background-color: antiquewhite;
  color: blue;
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  list-style: none;
  padding: 10px;
}

